<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjN0NGG4_dgHew6QriI3YZFALVk3aRBJI</string>
	<key>GCM_SENDER_ID</key>
	<string>391501046086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fouren.copickManageWithweb</string>
	<key>PROJECT_ID</key>
	<string>copick-13aa2</string>
	<key>STORAGE_BUCKET</key>
	<string>copick-13aa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391501046086:ios:2098099d1600d38654c547</string>
</dict>
</plist>